TestCallingWebService/TestCallingWebService/Web References/TestWeb/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="simpleMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="srt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simpleMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="simpleMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="anotherSimpleMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="anotherSimpleMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anotherSimpleMethodResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="simpleMethodSoapIn">
    <wsdl:part name="parameters" element="tns:simpleMethod" />
  </wsdl:message>
  <wsdl:message name="simpleMethodSoapOut">
    <wsdl:part name="parameters" element="tns:simpleMethodResponse" />
  </wsdl:message>
  <wsdl:message name="anotherSimpleMethodSoapIn">
    <wsdl:part name="parameters" element="tns:anotherSimpleMethod" />
  </wsdl:message>
  <wsdl:message name="anotherSimpleMethodSoapOut">
    <wsdl:part name="parameters" element="tns:anotherSimpleMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="simpleMethod">
      <wsdl:input message="tns:simpleMethodSoapIn" />
      <wsdl:output message="tns:simpleMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="anotherSimpleMethod">
      <wsdl:input message="tns:anotherSimpleMethodSoapIn" />
      <wsdl:output message="tns:anotherSimpleMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="simpleMethod">
      <soap:operation soapAction="http://tempuri.org/simpleMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anotherSimpleMethod">
      <soap:operation soapAction="http://tempuri.org/anotherSimpleMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="simpleMethod">
      <soap12:operation soapAction="http://tempuri.org/simpleMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anotherSimpleMethod">
      <soap12:operation soapAction="http://tempuri.org/anotherSimpleMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost/testservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost/testservice/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>